* {
  box-sizing: border-box;
  font-size: 62.5%;
}

body{
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*background-color: #e6e6e6;*/
}

.wrapper {
  /* display: grid; */
  /* grid-template-rows: auto 100vh 400px 380px 440px 600px 500px auto 150px; /*縦方向の要素のサイズの指定(横線を定義)*/ */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 3rem 0.5rem 3rem 0.5rem;
}


header {
  width: 100%;
  height: auto;
  grid-row: 1 / 2;
  padding: 3rem 5rem 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed; /*絶対位置で場所を指定*/
  top: 0; /*topから0pxのところに配置したい*/
  display: flex; /*子要素のレイアウトをコントロールできるように！*/
  align-items: center;
  z-index: 99;
}


/* エラー表示 */
p.error, span.error {
  color: red;
}
/* フォーム要素（Bootstrap4 のスタイルを上書き） */
.form-control {
  border-radius: 0;
  background-color: #fdfdfd;
  font-size: 1.4rem;
}
.form-control:focus {
  border-color: #aadbe8;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.4);
  box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.4);
  background-color:#fff;
}
/* Google Chrome, Safari, Opera 15+, Android, iOS */
::-webkit-input-placeholder {
  font-size: 1.3rem;
}
/* Firefox 18- */
:-moz-placeholder {
  font-size: 1.3rem; }
/* Firefox 19+ */
::-moz-placeholder {
  font-size: 1.3rem; }
/* IE 10+ */
:-ms-input-placeholder {
  font-size: 1.3rem; }
::placeholder{
  font-size: 1.3rem;
}
textarea.form-control {
  height: 20rem;
}


h1 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

nav {
  margin: 0 0 0 auto; /*上右下左の順に指定できる。左をautoにすることで自動的に右に寄せてくれる*/
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 1.5rem;
  font-size: 1.4rem;
}

h2 {
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
  font-size: 2.7rem;
  font-weight: normal;
}

h4 {
  padding: 0;
  margin: 0;/*doesn't seem to work*/
  font-size: 1.4rem;
}

p {
  font-size: 1.9rem;
}

.main-visual {
  height: 100vh;
  width: 100%;
  background: url('images/stovefire2.png') center/ cover no-repeat;
  background-size: cover;
  align-items: center;
  /* margin-bottom: 100px; */
}

.main-visual a {
  display: inline-block;
}

.main-visual_content {
  position: absolute;
  top: 40%;
  left: 64%;
  text-align: center;
}

.about {
  /*grid-row: 3 / 4;*/
  height: 45rem;
  background: linear-gradient(#000, #00C0C6);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.about__content {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform:translateY(-50%)translateX(-50%);
  -webkit-　　　
  transform:translateY(-50%)translateX(-50%);
  margin-top: 4rem;
}

.repair {
  /*grid-row: 4 / 5;*/
  height: 380px;
  width: 100%;
  /*background: linear-gradient(#000, #2613ac);グラデーション*/
  background: url('images/repairimage.jpg') center/ cover no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 100px;
}

.repair::before {
  content: '';
  /* ↓暗いオーバーレイを半透明で配置 */
  background-color: rgba(0, 0, 0, 0.5);
  /* ↓全体を覆うように配置 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.repair__content {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform:translateY(-50%)translateX(-50%);
  -webkit-　　　
  transform:translateY(-50%)translateX(-50%);
  margin:auto;
  width: 600px;/*don't work!!*/
}


.area {
  /*grid-row: 5 / 6;*/
  height: 440px;
  align-items: center;
  background-color: #008080;
  margin-top: 100px;


  /*斜め*/
  /*
  background:linear-gradient(to left top, #9690BC, #FFD2C0);
  */

  /*縦*/
  /* background: linear-gradient(to right, #9EBC90 0%, #B4C6DA 100%);
  */

}

.area__flex {
  display: flex;
  justify-content: center;
  padding: 40px 0 40px 0;
  align-items: center;
}

.area__image {
  padding: 5px;
}


.area__text {
  padding: 5px;
  text-align: center;
}

.area img {
  width: 450px;
  height: auto;
}

.products {
  /*grid-row: 6 / 7;*/
  height: 600px;
  margin-top: 100px;
}

.access {
  /*grid-row: 7 / 8;*/
  margin-top: 100px;
  height: 500px;
  background: linear-gradient(#2613ac, #000);
  align-items: center;
}

.access__content {
  display: flex;
  justify-content: center;
}

.contact {
  /*grid-row: 8 / 9;*/
  height: auto;
  width: 500px;
}

.contact-buttom {
  margin: 30px;
}

footer {
  /*grid-row: 9 / 10;*/
  height: 150px;
  margin-top: 100px;
  padding: 30px;
  background-color: #00717A;

}

.footer h3 {
  margin: 0;
}

.to-top {
  padding: 10px;
  margin: 15px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border-radius: 15px;
  border-style: solid;
  border-width: thin;
}
