* {
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*background-color: #e6e6e6;*/
}

.wrapper {
  display: grid;
  grid-template-rows: auto 100vh auto 380px 440px 600px 500px auto 150px; /*縦方向の要素のサイズの指定(横線を定義)*/
}

.container {
  padding: 30px 5px 30px 5px;
}


header {
  width: 100%;
  grid-row: 1 / 2;
  padding: 30px 50px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed; /*絶対位置で場所を指定*/
  top: 0; /*topから0pxのところに配置したい*/
  display: flex; /*子要素のレイアウトをコントロールできるように！*/
  align-items: center;
  z-index: 99;
}


/* エラー表示 */
p.error, span.error {
  color: red;
}
/* フォーム要素（Bootstrap4 のスタイルを上書き） */
.form-control {
  border-radius: 0px;
  background-color: #fdfdfd;
  font-size: 14px;
}
.form-control:focus {
  border-color: #aadbe8;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.4);
  box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.4);
  background-color:#fff;
}
/* Google Chrome, Safari, Opera 15+, Android, iOS */
::-webkit-input-placeholder {
  font-size: 13px;
}
/* Firefox 18- */
:-moz-placeholder {
  font-size: 13px; }
/* Firefox 19+ */
::-moz-placeholder {
  font-size: 13px; }
/* IE 10+ */
:-ms-input-placeholder {
  font-size: 13px; }
::placeholder{
  font-size: 13px;
}
textarea.form-control {
  height: 200px;
}


h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  margin: 0 0 0 auto; /*上右下左の順に指定できる。左をautoにすることで自動的に右に寄せてくれる*/
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

h2 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 27px;
  font-weight: normal;
}

.main-visual {
  grid-row: 2 / 3;
  /* height: 100vh; */
  background: url('images/stovefire2.png') center/ cover no-repeat;
  background-size: cover;
  align-items: center;
  /* margin-bottom: 100px; */
}

.main-visual a {
  display: inline-block;
}

.main-visual_content {
  position: absolute;
  top: 40%;
  left: 64%;
  text-align: center;
}

.about {
  grid-row: 3 / 4;
}

.repair {
  grid-row: 4 / 5;
  /*background: linear-gradient(#000, #2613ac);グラデーション*/
  background: url('images/repairimage.jpg') center/ cover no-repeat;
  background-size: cover;
  position: relative;
}

.repair::before {
  content: '';
  /* ↓暗いオーバーレイを半透明で配置 */
  background-color: rgba(0, 0, 0, 0.5);
  /* ↓全体を覆うように配置 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.repair__content {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform:translateY(-50%)translateX(-50%);
  -webkit-　　　
  transform:translateY(-50%)translateX(-50%);
  margin:auto;
}


.area {
  grid-row: 5 / 6;
  background: rgba(38,19,172,0.8);
  align-items: center;
}

.area__flex {
  display: flex;
  justify-content: center;
  padding: 40px 0 40px 0;
  align-items: center;
}

.area__image {
  padding: 5px;
}


.area__text {
  padding: 5px;
  text-align: center;
}

.area img {
  width: 400px;
  height: auto;
}

.products {
  grid-row: 6 / 7;
}

.access {
  grid-row: 7 / 8;
  background: linear-gradient(#2613ac, #000);
  align-items: center;
}

.access__content {
  display: flex;
  justify-content: center;
}

.contact {
  grid-row: 8 / 9;
}

footer {
  grid-row: 9 / 10;
  padding: 30px;
  background-color: grey;
}

.footer h3 {
  margin: 0;
}
