* {
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*background-color: #e6e6e6;*/
}

header {
  padding: 30px 4% 10px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed; /*絶対位置で場所を指定*/
  top: 0; /*topから0pxのところに配置したい*/
  width: 100%;
  display: flex; /*子要素のレイアウトをコントロールできるように！*/
  align-items: center;
  z-index: 99;
}

h1 {
  margin: 0; padding: 0;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  margin: 0 0 0 auto; /*上右下左の順に指定できる。左をautoにすることで自動的に右に寄せてくれる*/
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

.main-visual {
  height: 100vh;
  background: url('images/stovefire2.png') center/ cover no-repeat;
  align-items: center;
  margin-bottom: 100px;
}

.main-visual a {
  display: inline-block;
}

.main-visual_content {
  position: absolute;
  top: 40%;
  left: 64%;
  text-align: center;
}


.main-visual_content h2 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 27px;
  font-weight: normal;
  color: #fff;
}


.repair {
  height: 380px;
  background: linear-gradient(#000, #2613ac);
}

.repair h2 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 0;
  text-align: center;
}

.repair__content {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.repair__content__img {
  width: 360px;
  height: auto;
}

.repair__content__text {
  width: 49%;
  padding: 15px;
  margin-left: 100px;
}




.area {
  height: 380px;
  background: rgba(38,19,172,0.8);
  align-items: center;
}

.area h2 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 0;
  text-align: center;
}

.products {
  height: 600px;
}

.products h2 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 0;
  text-align: center;
}


.access {
  height: 500px;
  background: linear-gradient(#2613ac, #000);
  align-items: center;
}


.access h2 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 0;
  text-align: center;
}

.access__content {
  display: flex;
}





footer {
  padding: 15px;
  height: 150px;
  width: 100%;
  background-color: blue;
}

.footer h3 {
  margin: 0;
}




/*
.hero{
  width: 100vw;
  height: 70%;
}

.hero__image {
  background-image: url("images/stovefire2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

.hero h2{
  top: 25%;
  left: 39%;
}

.hero p{
  top: 25%;
  left: 39%;
}

.main{

}

.footer{

}
*/
