* {
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*background-color: #e6e6e6;*/
}

.wrapper {
  width: 100vw;
  display: grid;
  grid-template-rows: auto 100vh auto 380px 380px 600px 500px auto 150px; /*縦方向の要素のサイズの指定(横線を定義)*/
  grid-template-columns: 100vw;
}

.container {
  padding: 30px 5px 30px 5px;
}


header {
  width: 100%;
  grid-row: 1 / 2;
  padding: 30px 50px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed; /*絶対位置で場所を指定*/
  top: 0; /*topから0pxのところに配置したい*/
  display: flex; /*子要素のレイアウトをコントロールできるように！*/
  align-items: center;
  z-index: 99;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  margin: 0 0 0 auto; /*上右下左の順に指定できる。左をautoにすることで自動的に右に寄せてくれる*/
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

h2 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 0;
  text-align: center;
  font-size: 27px;
  font-weight: normal;
}

.main-visual {
  grid-row: 2 / 3;
  /* height: 100vh; */
  background: url('images/stovefire2.png') center/ cover no-repeat;
  align-items: center;
  /* margin-bottom: 100px; */
}

.main-visual a {
  display: inline-block;
}

.main-visual_content {
  position: absolute;
  top: 40%;
  left: 64%;
  text-align: center;
}

.about {
  grid-row: 3 / 4;
}

.repair {
  grid-row: 4 / 5;
  background: linear-gradient(#000, #2613ac);
}

.repair__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.repair__content__img {
  width: 360px;
  height: auto;
}

.repair__content__text {
  width: 49%;
  padding: 15px;
  margin-left: 100px;
}




.area {
  grid-row: 5 / 6;
  background: rgba(38,19,172,0.8);
  align-items: center;
}

.products {
  grid-row: 6 / 7;
}

.access {
  grid-row: 7 / 8;
  background: linear-gradient(#2613ac, #000);
  align-items: center;
}

.access__content {
  display: flex;
}

.contact {
  grid-row: 8 / 9;
}

footer {
  grid-row: 9 / 10;
  padding: 15px;
  background-color: blue;
}

.footer h3 {
  margin: 0;
}




/*
.hero{
  width: 100vw;
  height: 70%;
}

.hero__image {
  background-image: url("images/stovefire2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

.hero h2{
  top: 25%;
  left: 39%;
}

.hero p{
  top: 25%;
  left: 39%;
}

.main{

}

.footer{

}
*/
